<!DOCTYPE html>
<html>
  <head>
    <title>非凡购物网</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>

    <div class="container-fluid">
     <div>
        <%= render "common/navbar" %>
     </div>
      <div class="bodyindex">
        <%= yield %>
     </div>
     <div class="footerstyle">
        <%= render "common/footer" %>
     </div>
  </div>
</body>
</html>
